{% include('product/index.html.twig') %}

<div class="container">
    <div class="row">
        <div class="span4">
            <a href="{{ path('app_home') }}" class="btn btn-primary">Ga terug</a>
        </div>
    </div>
</div>